:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
}

main {
  height: 100vh;
}

.card {
  position: relative;
  top: 50%;
  width: 430px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: calc(var(--radius) + 5px);
  transform: translateY(-50%);
}

.qr-code {
  width: 390px;
  height: 390px;
  background-image: url("/images/image-qr-code.png");
  background-size: cover;
  background-position: center;
  border-radius: var(--radius);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 1.3em;
}

h1,
p {
  padding-top: 25px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
